<footer class="footer">
  <p>
    &copy; 2023 Harshad
  </p>
  <p>
    <a class="highlight-link" href="https://github.com/harshad4321?tab=repositories" target="_blank" rel="noreferrer">
      Published
    </a>
    with
    <a class="highlight-link" href="https://railway.app/" target="_blank" rel="noreferrer">
      railway.app
    </a>
  </p>
</footer>