

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background:radial-gradient(ellipse at bottom, #1b3f65  0%, #000000e6 100%);
  /* background-color:#031f25 */
 
}

/* // Typography */

h1 {
font-size: 2rem;
font-weight: 600;
line-height: 2rem;
}

p {
word-spacing: 0.1rem;
}

a {
color: #ff073a;
text-decoration: none;
}
a:hover {
color: #fff;
}

.highlight-title {
color: #ff073a;
text-shadow: 0.25rem 0.25rem 0.25rem #ff073a;
}

.highlight-link {
box-shadow: inset 0 -0.125rem 0 #ff073a;
box-sizing: border-box;
color: #ff073a;
display: inline-block;
padding: 0.125rem 0.125rem;
transition: all 0.2s ease-in-out;
}
.highlight-link:hover {
box-shadow: inset 0 -2rem 0 0 #ff073a;
color: #fff;
}

/* // Layout */

.layout {
margin: 0.5rem;
max-width: 75em;
padding: 0.5rem 0.5rem;
}

.layout .card {
background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, rgba(43, 45, 47, 1) 80%);
border-radius: 2rem;
margin: 3rem 0;
padding: 1rem 2rem;
}

.layout .card .title {
text-align: center;
position: relative;
}

.layout .card .subtitle {
text-align: center;
}

.layout .card .description {
text-align: justify;
}

.neumorphism-button {
background: linear-gradient(
145deg,
rgba(100, 100, 105, 0.15) 15%,
rgba(33, 33, 33, 0.4) 80%
);
box-shadow: -4px -3px 2px 0 rgba(250, 250, 250, 0.13),
4px 4px 2px 0 rgba(0, 0, 0, 0.4);
}

.neumorphism-card {
box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 1), inset -2px -2px 4px rgba(99, 99, 99, 1);
}

.neumorphism-card-big {
box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}

#preloader  {
align-items: center;
 background-color:rgb(255, 255, 255);
  transition: background-color 1s;
display: flex;
height: 100%;
justify-content: center;
left: 0;
margin: 0.5rem;
padding: 0.5rem;
position: absolute;
right: 0;
z-index: 999;
}
/* #preloader:hover {
  background-color:red;
} */


#preloader .load {
height: 6rem;
left: 50%;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
width: 6rem;
}
#preloader .load hr {
animation: spin 2s ease infinite;
border: 0;
height: 40%;
margin: 0;
position: absolute;
width: 40%;
}
#preloader .load :first-child {
animation-delay: -1.5s;
background: #000000e6
}
#preloader .load :nth-child(2) {
animation-delay: -1s;
background:#1b3f65
}
#preloader .load :nth-child(3) {
animation-delay: -0.5s;
filter: blur();
background:  #000000e6
}
#preloader .load :last-child {
background:#1b3f65;
}

@keyframes spin {
0%,
100% {
transform: translate(0);
}
25% {
transform: translate(160%);
}
50% {
transform: translate(160%, 160%);
}
75% {
transform: translate(0, 160%);
}
}



#landing {
background: rgba(43, 45, 47, 1);
color: #fff;
display: flex;
height: 100%;
margin: 0.5rem;
padding: 0.5rem;
text-align: center;
}

.landing-title {
left: 0;
margin: 0.5rem;
padding: 0.5rem;
position: absolute;
right: 0;
top: 40%;
}

.landing-icons {
display: flex;
justify-content: center;
}

.landing-icons .social-link {
color: #fff;
position: relative;
height: 3rem;
line-height: 3rem;
margin: 0.25rem;
width: 3rem;
}

.landing-icons .social-link .circle {
animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
fill: none;
stroke-dasharray: 40;
transition: all 0.2s ease-in-out;
}

.landing-icons .social-link .social {
font-size: 1.5rem;
position: absolute;
top: 0px;
transition: all 0.5s ease-in-out;
width: 100%;
}

.landing-icons .social-link .social-svg {
fill: white;
}

.landing-icons .social-link .label {
display: none;
}

.landing-icons .social-link:hover {
cursor: pointer;
}

.landing-icons .social-link:hover .circle {
animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
colorBlackIcon 1s linear forwards;
fill: #fff;
fill-opacity: 1;
}

.landing-icons .social-link:hover .social-svg {
fill: #000;
}

.landing-icons .social-link:hover .label {
display: unset !important;
position: relative;
top: -2rem;
}

.landing-icons .email:hover .circle {
animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
colorEmail 1s linear forwards;
}

.landing-icons .email:hover .social-svg {
fill: #d44638;
}

.landing-icons .telegram:hover .circle {
animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
colorTelegram 1s linear forwards;
}

.landing-icons .telegram:hover .social-svg {
fill: #2aabee;
}

.landing-icons .linkedin:hover .circle {
animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.
)
}

/* 
.snowflake {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transform: rotate(45deg);
}

.snowflake:before, .snowflake:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.snowflake:before {
  transform: rotate(90deg);
}

.snowflake:after {
  transform: rotate(180deg);
}
@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
} */
