{{!-- < id="container"> --}}
    <div id="preloader">
        <div class="load">
            <hr />
            <hr />
            <hr />
            <hr />
        </div>
    </div>

    {{>landing-page}}
    <div class="layout">

        {{!--zzz
        <section class="card neumorphism-card-big">
            {{>section-aboutme}}
            {{!-- </section> --}}

        <section class="card neumorphism-card-big">
            {{>section-timeline}}
        </section>

        <section class="card neumorphism-card-big">
            {{> section-projects}}
        </section>

        <section class="card neumorphism-card-big">
            {{>section-skills}}
        </section>

        <section class="card neumorphism-card-big">
            {{>section-contact}}
        </section>

    </div>