{{!-- < id="container"> --}}
    <div id="preloader">
        <div class="load">
            <hr />
            <hr />
            <hr />
            <hr />
        </div>
    </div>
    <div class="snowflake">

        {{>landing-page}}
        <div class="layout">
            {{!-- {%if site.show_aboutme_card %} --}}
            {{#if sectionAboutMe}}
            <section class="card neumorphism-card-big">

                {{>section-aboutme}}
            </section>
            {{!-- {% endif %} --}}
            {{/if}}
            {%if site.show_timeline_card %}
            {{!-- {%if site.show_timeline_card %} --}}
            <section class="card neumorphism-card-big">
                {{>section-timeline}}
                {{!-- {% include section-timeline.html %} --}}
            </section>
            {{!-- {{/if}} --}}
            {{!-- {%if site.show_projects_card %} --}}
            <section class="card neumorphism-card-big">
                {% include section-projects.html %}
            </section>
            {% endif %}
            {%if site.show_skills_card %}
            <section class="card neumorphism-card-big">
                {% include section-skills.html %}
            </section>
            {% endif %}
            {%if site.show_contact_card %}
            <section class="card neumorphism-card-big">
                {% include section-contact.html %}
            </section>
            {% endif %}
        </div>
    </div>