<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  {{!--
  <link rel='stylesheet' href='/stylesheets/style.css' /> --}}

  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/vendors/aos.css' />
  <link rel='stylesheet' href='/stylesheets/vendors/normalize.css' />
  <meta name="theme-color" content="#ffffff">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="/js/app.min.js"></script>
  <script src="/js/vendors.min.js"></script>

  <script src="/javascripts/app.js"></script>

  <script src="/javascripts/vendors/jquery-3.5.1.slim.js"></script>
  <script src="/javascripts/vendors/aos.js"></script>


</head>

<body>

  {{{body}}}
  {{>footer}}
</body>

</html>